<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>

      <li>
        <a href="/redis/1-6/index.html">Redis for PCF</a>
      </li>

      <li>
        <a href="/redis/1-6/minor-overview.html">1.6 Overview</a>
      </li>

      <li>
        <a href="/redis/1-6/release.html">Release Notes</a>
      </li>

      <li>
        <a href="/redis/1-6/architecture.html">Architecture</a>
      </li>

      <li>
        <a href="/redis/1-6/recommended.html">Recommended Usage and Limitations</a>
      </li>

      <li class="has_submenu">
        <a href="/redis/1-6/installing.html">For Operators: Installing and Upgrading Redis for PCF</a>
        <ul>
          <li>
            <a href="/redis/1-6/smoke-tests.html">Smoke Tests</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/redis/1-6/maintain.html">For Operators: Maintaining Redis for PCF</a>
        <ul>
          <li>
            <a href="/redis/1-6/manual-br.html">Manual Backup and Restore</a>
          </li>
          <li>
            <a href="/redis/1-6/monitoring.html">Monitoring</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/redis/1-6/troubleshooting.html">For Operators: Troubleshooting</a>
      </li>

      <li>
        <a href="/redis/1-6/security.html">Security</a>
      </li>

      <li class="has_submenu">
        <a href="/redis/1-6/appdevs.html">For App Developers</a>
        <ul>
          <li>
            <a href="/redis/1-6/using.html">Using Redis for PCF</a>
          </li>
          <li>
            <a href="/redis/1-6/service-plans.html">Service Plans</a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
